.careers-hero {
    background-image: url(../../../images/carershero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    opacity: 0.8;
    height: 200px;
}

.careers__btn {
    padding: 14px 49px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    display: block;
    width: 190px;
    margin-top: 20px;
}

.careesr__content {
    
}









.general {
    margin-top: 100px;
}

.general__box {
    width: 1110px;
    margin: 30px auto;
    background: #F2F5F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 64px;
}

.general__content {
    
}

.g__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}

.g__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    color: #495567;
}

.g__btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #FCB72B;
    padding: 14px 66px;
}